body {
	background-color: firebrick; 
}

h1 {
	color: dodgerblue;
	font-family: 'Abril Fatface', cursive;
	text-align: center;


}

h2 {
	color: dodgerblue;
	font-family: 'Abril Fatface', cursive;
}

p{
	color:white;
font-family: 'Abril Fatface', cursive;
width:60%;	

}
article {
	  display: inline-block;
  margin: 1%;
  padding: 20px;
  text-align: center;
  width:25%;		
}

#celebrate {
	text-align: center;
}

#presidents {
	display:inline-block;
}



